---
import BlogCard from './BlogCard.astro';
import type { Post } from '@app-types/blog';

interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---
{posts.length > 0 && (
  <section class="related-posts">
    <h2 class="related-posts-heading">Related Articles</h2>
    <div class="blog-grid">
      {posts.map(post => <BlogCard post={post} slug={post.slug} />)}
    </div>
  </section>
)}
