---
import type { TOCItem } from '@lib/toc';

interface Props {
  items: TOCItem[];
}

const { items } = Astro.props;
---
<nav aria-label="Table of contents" class="toc">
  <h2 class="toc-heading">Contents</h2>
  <ol class="toc-list">
    {items.map(item => (
      <li class={item.level === 3 ? 'toc-item toc-item--sub' : 'toc-item'}>
        <a
          href={`#${item.id}`}
          class="toc-link"
        >
          {item.text}
        </a>
      </li>
    ))}
  </ol>
</nav>
